<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="/js/learning.js" defer></script>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <main>
      <h1>JQuery + TMDB API</h1>
      <p>Here is a list of 20 popular movies</p>
      <button id="next-page">Next page</button>
      <div id="insert-here"></div>

      <!-- <button class="continue">Click me</button>
      <button class="add">Add content</button>

      <a id="google-link">Click me, I go to google</a> -->
    </main>
  </body>
</html>
